## Assignment 2

### Dataset Description

**Dataset Name:** Netflix Movies and TV Shows

**Author:**  

Shivam Bansal 

**Purpose:**  
The dataset was created to provide a comprehensive overview of the content available on Netflix, including both movies and TV shows. It is intended for analyzing trends in streaming media, content diversity, and release patterns. Researchers, analysts, and data scientists can use this dataset to explore aspects such as user engagement, content curation, and recommendation systems

**Shape:**  
- **Rows:** 8807 
- **Columns:** 12 

**Features and Descriptions:**

1. **show_id (Categorical):**  
   A unique identifier for each show, represented as a string.

2. **type (Categorical):**  
   Indicates whether the entry is a 'Movie' or a 'TV Show'.

3. **title (Categorical):**  
   The title of the movie or TV show.

4. **director (Categorical):**  
   The name(s) of the director(s). This field may include multiple names separated by commas.

5. **cast (Categorical):**  
   The main cast members featured in the content. Multiple names may be present.

6. **country (Categorical):**  
   The country or countries where the content was produced.

7. **date_added (Categorical/Date):**  
   The date when the show was added to Netflix. Although stored as a string, it represents a date (typically in the format "Month Day, Year").

8. **release_year (Numerical):**  
   The year in which the content was originally released, represented as an integer.

9. **rating (Categorical):**  
   The content rating (e.g., PG, PG-13, R, TV-MA), which indicates the suitability of the content for different audiences.

10. **duration (Categorical/Numerical):**  
    For movies, this is usually a string indicating the duration in minutes (e.g., "90 min"). For TV shows, it is a string indicating the number of seasons (e.g., "2 Seasons").

11. **listed_in (Categorical):**  
    A list of genres or categories that the content belongs to, stored as a string with multiple categories separated by commas.

12. **description (Categorical):**  
    A brief summary or description of the content.

### Test 1 Range Check of Release Year
**Range Check of Release Year** 
  This test checks whether the 'release_year' values fall within an acceptable range.
 For Netflix shows, we expect the release year to be between 1900 and the current year (e.g., 2025).

In [2005]:
import pandas as pd

#initially loading the dataset for the rest of the file
url = "netflix_titles.csv"
df = pd.read_csv(url)

In [2006]:
# # Report
# print("Range Check for 'release_year':")
# print("Found {} rows with a release year below {} or above {}.".format(len(invalid_years), minimum, maximum))
# if not invalid_years.empty:
#     print("Here are some example of rows that exceed these thresholds:")
#     print(invalid_years[['show_id', 'title', test_attribute]].head())
# else:
#     print("All 'release_year' values are within range")

#### Test 2 Data Type Errors Check
This test verifies that the values in a specified column match the expected data type.
 For example, the 'release_year' should be an integer.

In [2007]:
# Parametrs
import re


test_attribute = 'release_year'
minimum = 1900
maximum = 2025

In [2008]:
# valid whole integer (only digits)
def is_valid_year(value):
    try:
       
        return str(value).strip().isdigit()
    except Exception:
        return False


year_type_errors = df[~df[test_attribute].apply(is_valid_year)]

In [2009]:
print(f"Data Type Errors Check for '{test_attribute}':")
print("Expected: each value should be a whole integer (only digits, no extra characters).")
print(f"Number of rows with type errors: {len(year_type_errors)}")
if not year_type_errors.empty:
    print("Examples of rows with type errors:")
    print(year_type_errors[['show_id', test_attribute]].head())
else:
    print(f"All values in the '{test_attribute}' column are valid whole integers.")

Data Type Errors Check for 'release_year':
Expected: each value should be a whole integer (only digits, no extra characters).
Number of rows with type errors: 0
All values in the 'release_year' column are valid whole integers.

#### Format Errors Check:
This test verifies that the 'date_added' column follows the expected date format,
e.g., "Month Day, Year" (such as "September 09, 2019").

In [2010]:
# Parameters 
test_attribute = 'date_added'
expected_format = '%B %d, %Y'  # here is the expected format, "September 09, 2019"

In [2011]:
import datetime

def check_date_format(date_str, fmt):
    try:
        datetime.datetime.strptime(date_str.strip(), fmt)
        return True
    except (ValueError, AttributeError):
        return False

# Apply the format check to each value in the column of data added
format_errors = df[~df[test_attribute].apply(lambda x: check_date_format(x, expected_format) if pd.notnull(x) else True)]

In [2012]:
#report
print("Format Errors Check for '{}' column:".format(test_attribute)) 
print("Expected format: {}".format(expected_format))
print("Number of rows with formts deviating from that format{}".format(len(format_errors)))
if not format_errors.empty:
    print("Here are some example rows with format errors:")
    print(format_errors[['show_id', 'date_added']].head())
else:
    print("All rows in '{}' column follow the expected format.".format(test_attribute))

Format Errors Check for 'date_added' column:
Expected format: %B %d, %Y
Number of rows with formts deviating from that format0
All rows in 'date_added' column follow the expected format.

#### Uniqueness Errors Check:
This test checks that the 'show_id' column contains unique values,
ensuring that each record in the dataset is uniquely identifiable.

In [2013]:
#parmeters
test_attr = 'show_id'

In [2014]:
# identify duplicate entries in the 'show_id' column to find lack of uniqueness
duplicate_rows = df[df[test_attr].duplicated(keep=False)]

In [2015]:
print("Uniqueness Errors Check for  '{}':".format(test_attr))
if duplicate_rows.empty:
    print("All values in '{}' column are unique.".format(test_attr))
else:
    print("Found duplicate entries in '{}'. Each of these values should be unique. Below are all rows with duplicate values:".format(test_attribute))
    print(duplicate_rows)

Uniqueness Errors Check for  'show_id':
Found duplicate entries in 'date_added'. Each of these values should be unique. Below are all rows with duplicate values:
  show_id     type                          title         director  \
1      s2  TV Show                  Blood & Water              NaN
3      s5  TV Show                   Kota Factory              NaN
4      s5  TV Show                   Kota Factory              NaN
8      s2  TV Show  The Great British Baking Show  Andy Devonshire

                                                cast         country  \
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...    South Africa
3  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...           India
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...           India
8  Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...  United Kingdom

           date_added  release_year rating   duration  \
1  September 24, 2021          2021  TV-MA  2 Seasons
3  September 24, 2021          2021  TV-MA  2 Seasons
4  September 24, 2021          2021  TV-MA  2 Seasons
8  September 24, 2021          2021  TV-14  9 Seasons

                                           listed_in  \
1    International TV Shows, TV Dramas, TV Mysteries
3  International TV Shows, Romantic TV Shows, TV ...
4  International TV Shows, Romantic TV Shows, TV ...
8                       British TV Shows, Reality TV

                                         description
1  After crossing paths at a party, a Cape Town t...
3  In a city of coaching centers known to train I...
4  In a city of coaching centers known to train I...
8  A talented batch of amateur bakers face off in...

#### Consistency Errors Check:
Consistency Check between 'type' and 'duration':
This test verifies that the duration field is consistent with the type of show.
For a "Movie", the duration should include "min" (indicating minutes),
while for a "TV Show", the duration should include "Season" (or "Seasons").

In [2016]:
# Parameters 
type_column = 'type'
duration_column = 'duration'
expected_for_movie = 'min'       
expected_for_tv_show = 'season'

In [2017]:


# for movies, check if 'duration' doesn't contain "min" which includes minutes and for tv shows check durations doesn't contain season 
movie_inconsistencies = df[
    (df[type_column].str.lower() == 'movie') &
    (~df[duration_column].str.lower().str.contains(expected_for_movie, na=False))
]

tv_inconsistencies = df[
    (df[type_column].str.lower() == 'tv show') &
    (~df[duration_column].str.lower().str.contains(expected_for_tv_show, na=False))
]

consistency_errors = pd.concat([movie_inconsistencies, tv_inconsistencies])

In [2018]:
print("Consistency Check between 'type' and 'duration' to see if seasons and minutes are:")
print("For 'movie', duration should contain '{}'.".format(expected_for_movie))
print("For 'TV Show', duration should contain '{}'.".format(expected_for_tv_show.capitalize()))
print("Here are the number of rows with consistency errors: {}".format(len(consistency_errors)))
if not consistency_errors.empty:
    print("examples of consistency errors in the dataset :")
    print(consistency_errors[[type_column, duration_column, 'show_id', 'title']].head())
else:
    print("All rows are consistent between 'type' and 'duration'.")

Consistency Check between 'type' and 'duration' to see if seasons and minutes are:
For 'movie', duration should contain 'min'.
For 'TV Show', duration should contain 'Season'.
Here are the number of rows with consistency errors: 5
examples of consistency errors in the dataset :
         type  duration show_id                                 title
0       Movie  6 season      s1                  Dick Johnson Is Dead
5541    Movie       NaN   s5542                       Louis C.K. 2017
5794    Movie       NaN   s5795                 Louis C.K.: Hilarious
5813    Movie       NaN   s5814  Louis C.K.: Live at the Comedy Store
14    TV Show  1 minute     s15       Crime Stories: India Detectives

#### Presence Errors Check:
This test verifies that there are no missing (null) values in a critical column.
For example, every record should have a non-empty 'title'.

In [2019]:
# Parameters
test_attribute = 'title'  # Change to any column that must always have a value.

In [2020]:
# Identify rows where the specified column is missing or null
presence_errors = df[df[test_attribute].isnull()]

In [2021]:
print(f"Presence Errors Check for column '{test_attribute}':")
print(f"Found {len(presence_errors)} rows with missing values in '{test_attribute}'.")
if not presence_errors.empty:
    print("Here are some examples of rows with missing values:")
    print(presence_errors[['show_id', test_attribute]].head())
else:
    print(f"All rows in the '{test_attribute}' column are complete.")

Presence Errors Check for column 'title':
Found 1 rows with missing values in 'title'.
Here are some examples of rows with missing values:
   show_id title
67     s68   NaN

#### Length Errors Check:
 This test verifies that the text in a specified column meets defined length constraints.
 For example, the 'description' field should have a minimum and maximum character count.

In [2022]:
# Parameters
test_attribute = 'description'  
min_length = 10    
max_length = 500

In [2023]:
# Identify rows where the length of text is either exceeding the maximum or below the minimum
length_errors = df[(df[test_attribute].str.len() < min_length) | (df[test_attribute].str.len() > max_length)]

In [2024]:
print(f"Length Errors Check for column '{test_attribute}':")
print(f"Allowed length: minimum {min_length} characters, maximum {max_length} characters.")
print(f"Number of rows with length errors: {length_errors.shape[0]}")

if not length_errors.empty:
    print("Examples of rows with length errors:")
    print(length_errors.loc[:, ['show_id', test_attribute]].head().to_string(index=False))
else:
    print(f"All rows in '{test_attribute}' column fall within the allowed length range.")

Length Errors Check for column 'description':
Allowed length: minimum 10 characters, maximum 500 characters.
Number of rows with length errors: 1
Examples of rows with length errors:
show_id description
   s111   The film.

#### Look-up Errors Check:
This test verifies that the values in a specified column exist within a predefined list (lookup table).
For example, the 'rating' column should only contain values from an approved set of ratings.

In [2025]:
# Parameters 
test_attribute = 'rating'
allowed_ratings = ['G', 'PG', 'PG-13', 'R', 'NC-17', 'TV-MA', 'TV-14', 'TV-PG','TV-Y', 'TV-Y7','TV-G', 'NR'] #this is adjustable as it might not cover every possible tv rating

In [2026]:
# perform a check for each entry that is case-insensitive and iterate through the look-up table
allowed = set([rating.upper() for rating in allowed_ratings])
LookupError = df[~df[test_attribute].str.upper().isin(allowed)]

In [2027]:
print(f"Look-up Errors Check for column '{test_attribute}':")
print(f"Allowed ratings: {', '.join(map(str, allowed_ratings))}")
print(f"Number of rows with values not in the allowed lookup list: {LookupError.shape[0]}")

if not LookupError.empty:
    print("Here are examples of rows with look-up errors:")
    print(LookupError.loc[:, ['show_id', test_attribute]].head().to_string(index=False))
else:
    print(f"All rows in '{test_attribute}' column match the allowed lookup values.")

Look-up Errors Check for column 'rating':
Allowed ratings: G, PG, PG-13, R, NC-17, TV-MA, TV-14, TV-PG, TV-Y, TV-Y7, TV-G, NR
Number of rows with values not in the allowed lookup list: 16
Here are examples of rows with look-up errors:
show_id   rating
  s5542   74 min
  s5795   84 min
  s5814   66 min
  s5990      NaN
  s6582 TV-Y7-FV

#### Exact Duplicate Errors Check:
This test identifies rows in the dataset that are exact duplicates across all columns.

In [2028]:

# No additional parameters are needed; this check considers all columns.

In [2029]:
# Identify all exact duplicate rows in the entire dataset
exact_duplicates = df[df.duplicated(keep=False)]

In [2030]:
print("Exact Duplicate Errors Check:")
print("Number of rows that are exact duplicates. The rows displayed will be truncated so that we only display a few of the columns so the output does not get messy. The entire row will be considered a duplicate though.: {}".format(len(exact_duplicates)))
if not exact_duplicates.empty:
    print("Here are examples of exact duplicate rows:")
    print(exact_duplicates[['show_id', 'title']].head())
else:
    print("No exact duplicate rows found")

Exact Duplicate Errors Check:
Number of rows that are exact duplicates. The rows displayed will be truncated so that we only display a few of the columns so the output does not get messy. The entire row will be considered a duplicate though.: 2
Here are examples of exact duplicate rows:
  show_id         title
3      s5  Kota Factory
4      s5  Kota Factory

#### Near Duplicate Check using Sorted Titles Comparison:
This test identifies near duplicates in the 'title' column by splitting each title into tokens,
computing the Jaccard similarity between adjacent titles (after sorting),
and flagging titles with a similarity above a defined threshold.

In [2031]:
# Parameters:
test_attribute = 'title'      
similarity_threshold = 0.95

In [2032]:
def jaccard_similarity(a, b):
    """
    Compute the Jaccard similarity between two strings based on word tokens.
    """
    tokens_a = set(a.split())
    tokens_b = set(b.split())
    union = tokens_a.union(tokens_b)
    if not union:
        return 0
    return len(tokens_a.intersection(tokens_b)) / len(union)

#  convert to lower case and strip whitespace; pair each title with its original index then sort the list

titles_data = [(idx, str(title).lower().strip()) for idx, title in df[test_attribute].fillna("").items()]


titles_sorted = sorted(titles_data, key=lambda x: x[1])


near_duplicate_indices = set()

# Compare each title with its immediate neighbor in the sorted list using Jaccard similarity and then then add it to the list of indices as flagged
for i in range(len(titles_sorted) - 1):
    idx1, title1 = titles_sorted[i]
    idx2, title2 = titles_sorted[i + 1]
    similarity = jaccard_similarity(title1, title2)
    if similarity >= similarity_threshold:
        near_duplicate_indices.add(idx1)
        near_duplicate_indices.add(idx2)
        

near_duplicate_rows = df.loc[list(near_duplicate_indices)]

In [2033]:
print(f"Near Duplicate Check using Sorted Titles Comparison on column '{test_attribute}':")
print(f"Similarity threshold: {similarity_threshold}")
print(f"Number of rows that are flagged as near duplicates: {len(near_duplicate_rows)}")
if not near_duplicate_rows.empty:
    print("Here are all the near duplicates")
    print(near_duplicate_rows[['show_id', test_attribute]])
    
else:
    print(f"No near duplicate rows found based on the '{test_attribute}' column.")

Near Duplicate Check using Sorted Titles Comparison on column 'title':
Similarity threshold: 0.95
Number of rows that are flagged as near duplicates: 14
Here are all the near duplicates
     show_id                     title
6529   s6530             Consequences
3         s5              Kota Factory
4         s5              Kota Factory
5318   s5319                Death Note
5095   s5096       Fullmetal Alchemist
5033   s5034       FullMetal Alchemist
3371   s3372              Consequences
303     s304      Esperando la carroza
6705   s6706      Esperando La Carroza
7345   s7346            Love In A Puff
1270   s1271  Sin senos sí hay paraíso
5751   s5752                DEATH NOTE
8022   s8023  Sin Senos sí Hay Paraíso
159     s160            Love in a Puff